IDI_ICON1               ICON    DISCARDABLE     "updater.ico"

1 VERSIONINFO
FILEVERSION             1,2,2,0 // 1.2b
PRODUCTVERSION          1,2,2,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "Richard Dally\0"
            VALUE "FileDescription",  "QNetSoul updater.\0"
            VALUE "FileVersion",      "1.2.2.0\0"
            VALUE "ProductName",      "QNetSoul Updater\0"
            VALUE "ProductVersion",   "1.2.2.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
